/* general styling */
#controls > .row {
  margin-top: 20px;
}

.configurator {
  width: 100%;
  padding: 0 10px;
}
.configurator button {
  margin-left: 1em;
  margin-right: 1em;
}

.configurator span {
  text-align: center;
  font-size: 4em;
}

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* controls */
.rdBtn {
  border-width: 1px;
  border-radius: 3em;
  height: 3em;
  width: 3em;
}
